* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 25px;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #f8f9fa;
}

a {
    text-decoration: none;
    color: inherit;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project-items {
    width: 100%;
}

a.project-card {
    height: 80px;
    font-size: 30px;
    margin-bottom: 15px;
    border: 2px solid gold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: transform 0.15s linear;
}

.project-card:hover {
    background-color: #0d6efd;
    color: white;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

