body {
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #4c4c4c;
}

:root{
  --font-karla-family: ;
  --primary-color: ;
  --secondary-color: ;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.nav-container {
  width: 95%;
  margin: 0 auto;
}

.hero-section {
  position: relative;
  height: 90vh;
 background: url("../images/hero-bag.jpg") no-repeat;
  display: flex;
  align-items: center;
}

.hero-banner{
  background-position: top;
  background-repeat: no-repeat;
  background-clip: cover;
  height: 600px;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 119px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.hero-subtitle {
  
  font-size: 73px;
  color: #fff;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: #4fbfa8;
  color: #fff;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 0;
  text-decoration: none;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #3aa892;
  color: #fff;
}

.features{
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.product-grid-item {
  margin-bottom: 50px;
  text-align: center;
}

.product-image {
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.discount {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #2f8f7a;
  color: #fff;
  padding: 6px 10px;
  border-radius: 50%;
  font-size: 14px;
}

.colors {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 10px 0;
}

.color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.product-name {
  font-size: 16px;
  margin: 8px 0;
}

.price {
  font-size: 15px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 5px;
}

.quick-shop {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: #fff;
  padding: 10px 20px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.product-image img {
  width: 100%;
  object-fit: cover;
}

.product-title{
   font-size: 18px;
   color: #262424;
}

.cart-details{
  margin-top: 90px;
}

.quantity{
  justify-content: center;
    white-space: nowrap;
    margin-right: 15px;
}