* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(25, 24, 22);
    align-items: center;
    display: flex;
    justify-content: center;
}

.weather-section {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(to bottom,#8ccafd , #1878fe);
    color: #fff;
    margin: 100px auto 0;
    padding: 30px 25px;
    border-radius: 20px;
    text-align: center;
}

.search-city {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-city input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 10px;
    flex: 1;
    font-size: 18px;
    margin-right: 5px;
}

.search-city button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 10px;
    padding: 10px 20px;
    height: 40px;
    cursor: pointer;
}

.search-city button:hover {
    background: #f0f5f5;
    color: #565656;

}

.weather h1 {
    font-size: 72px;

}

.max-min-temp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-min-temp span {
    width: 150px;
    height: 50px;
    background: #224298;
    color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.details {
    width: 100%;
    height: 100px;
    background-color: #03317a;
    color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;

}