body {
  background: linear-gradient(135deg, #82c9ff, #c6e7ff);
  min-height: 100vh;
}

.search-input {
    padding: 8px 14px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 0.9rem;
}

.search-btn {
    border: none;
    background: #0d6efd;
    color: white;
    padding: 7px 15px;
    border-radius: 8px;
    font-size: 1rem;
}

.search-btn i {
    font-size: 1.1rem;
}


.compact-card {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.compact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.stat-item {
    padding: 8px 10px;
    background: #eaf2f9;
    border-radius: 8px;
    font-size: 0.95rem;
}

.stat-value {
    font-weight: 600;
}

.temperature {
    font-size: 3.2rem;
}

body {
    background: linear-gradient(135deg, #a8d8ff, #d7efff);
    min-height: 100vh;
}
